<% if @user.nil? %>
  Nu exista user-ul cerut.
  <br>
<% else %>
  <!--
   render partial: 'user', locals: { user: @user }
  -->
  <%= render @user %>
  <br>
<% end %>

<div>
  <%= link_to('Back', '/users') %>
</div>