<h2 class="p-2"> Posts (<%= @posts.count %>)</h2>

<ul>
  <%# @posts.each do |post| %>
<!--    <li>-->
<!--       render partial: 'user', locals: { user: @ser } -->
      <%#= render post %>
<!--    </li>-->
  <%# end %>
  <%= render @posts %>
  <%= will_paginate @posts%>
</ul>