<h2 class="p-2"> Posts (<%= @posts.count %>)</h2>

<ul>
  <%= render @posts %>
  <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "paginate bg-transparent") %>
</ul>

